/*font-size*/

$size: 14px !default;

/*webcolor*/
$white: #fff;
$red: #C80D0A !default;
$blue: #2c71ff !default;
$orange: #f54c34 !default;
$yellow: #FFF7E0;

/*color*/

$font: #333 !default;
$border: #e5e6e6 !default;
$btnhover: darken($red, 10%) !default;
$err: lighten($red, 10%) !default;
$white: #fff !default;


$web1: #f60;
$web2: #fc3071;
$web3: #5d94ef;

$bg: #f0f0f0;
/**
  *
  * #333 = b -> 20% #666 -> 40% , #999 -> 60% ,  #ccc -> 80% , #ddd -> 87% ， #eee -> 93%
  *         以上为常用灰色灰度百分比，酌情使用
  */