@font-face {
  font-family: "iconfont";
  /* Project id 3722697 */
  src: url('@/assets/fonts/iconfont.woff2?t=1666415599355') format('woff2'),
    url('@/assets/fonts/iconfont.woff?t=1666415599355') format('woff'),
    url('@/assets/fonts/iconfont.ttf?t=1666415599355') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-guanbi1:before {
  content: "\e86d";
}

.icon-jiantou_xiangshang:before {
  content: "\eb93";
}

.icon-jiantou_xiangyou:before {
  content: "\eb94";
}

.icon-jiantou_xiangzuo:before {
  content: "\eb95";
}

.icon-jiantou_xiangxia:before {
  content: "\eb96";
}

.icon-kaifa:before {
  content: "\e626";
}

.icon-shouye:before {
  content: "\e627";
}

.icon-zhangdan:before {
  content: "\e628";
}

.icon-chongzhi:before {
  content: "\e609";
}

.icon-huamingce:before {
  content: "\e60a";
}

.icon-shanchu:before {
  content: "\e60b";
}

.icon-jiesuan:before {
  content: "\e60c";
}

.icon-qiyezhanghu:before {
  content: "\e60d";
}

.icon-shezhi:before {
  content: "\e60e";
}

.icon-liushui:before {
  content: "\e60f";
}

.icon-tongji:before {
  content: "\e611";
}

.icon-fankui:before {
  content: "\e612";
}

.icon-xiangqing:before {
  content: "\e613";
}

.icon-yu-e:before {
  content: "\e614";
}

.icon-xiaoxi:before {
  content: "\e616";
}

.icon-bangzhu:before {
  content: "\e617";
}

.icon-renzheng:before {
  content: "\e618";
}

.icon-hegui:before {
  content: "\e619";
}

.icon-shiming:before {
  content: "\e61b";
}

.icon-shuju:before {
  content: "\e61c";
}

.icon-renwu:before {
  content: "\e61f";
}

.icon-geren:before {
  content: "\e620";
}

.icon-qianbao:before {
  content: "\e621";
}

.icon-bufen:before {
  content: "\e622";
}